<div id="footer">

<p>
  Generously hosted by the Open Computing Facility!
  
  We are a student group acting independently of the University of California. We
  take full responsibility for our organization and this web site.
</p>

<p> Source code available at <a href="https://github.com/calgoclub/website">GitHub</a>. </p>

<a href="https://www.ocf.berkeley.edu">
<img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg"
  alt="Hosted by the OCF" style="border: 0;" />
</a>

</div>

